{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

  <div class="bigboi">
    <div class="title">
      <h1><a link href="homepage"><div class='logo'>sprout</div></a> about</h1>
    </div>
    <div class="first">
      <div class="text">
        Sprout is a website that serves as a central hub of mental health resources for teens in NYC.
      </div>
    </div>
    <div class="second">
      <div class="text">
        Sprout is the final project of Nowshin Sayara, Emma Logsdon, and Kyra Cousins, who are participating in the Girls Who Code Summer Immersion Program hosted at the AT&T offices in New York City.
      </div>
    </div>
    <div class="third">
      <div class="text">
        Sprout is made possible by our incredible teaching team, Lucie, Haotian, and Megan, by the invaluable resources on W3 Schools and Djangogirls, and by the support of Girls Who Code, AT&T, and viewers like you.
      </div>
    </div>
  </div>

{% endblock %}
