{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/happy.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

  <ul>
    <li><a href="../">home</a></li>
    <li><a href="../contact_us">contact us</a></li>
    <li><a href="../about">about</a></li>
  </ul>

  <div class="header">
    <a link href"../happy">
      <div class="sun"><a href="/happy"><i class="fa fa-sun-o fa-5x" style="color: #eb9239;"></i></a>
        <div class="happy"><h1>animals</h1></div>
      </div>
    </a>
  </div>

{% for resource in resources %}
    <div class="individual-resource">
        <h1><a href="{% url 'resource_detail' pk=resource.pk %}">{{ resource.title }}</a></h1>
        <p>{{ resource.description|linebreaksbr }}</p>
    </div>
{% endfor %}





{% endblock %}
