{% load staticfiles %}
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
      <link rel="icon" href="{% static 'images/sproutstage1.png' %}" type="image/png">

        <title>sprout</title>
    </head>

    <body>
      <!-- <div class="page-header">
        <h1><a href="/">sprout</a></h1>
      </div> -->
      <!-- <div class="content container"> -->
      {% block content %}
      {% endblock %}
      <!-- </div> -->
    </body>

</html>
