{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/calm.css' %}">
<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

<ul>
  <li><a href="../">home</a></li>
  <li><a href="../contact_us">contact us</a></li>
  <li><a href="../about">about</a></li>
</ul>

<div class="header">
  <a link href"../calm">
    <div class="calm"><i class="fa fa-tint fa-5x" style="color: #87A3Ff;"></i>
      <div class="calm"><h1>visuals</h1></div>
    </div>
  </a>
</div>


<p> text n stuff </p>


{% endblock %}
