{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

  <link rel="stylesheet" href="{% static 'css/contact-us.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">


  <a link href="twitter.com/sproutgwc">
    <div class="username">
      <h1 onmouseover="mOver(this)" onmouseout="mOut(this)">@sproutgwc</h1>
    </div>
  </a>

  <div class="backhome">
    <a link href="homepage">
      <i class="fa fa-angle-double-left fa-3x"></i>
    </a>
  </div>

<script>
  function mOver(obj) {
    var items = ['#FF926A', '#87A3FF', '#EBBE3A']
    var item = items[Math.floor(Math.random()*items.length)];
    obj.style.color = item;
  }
  function mOut(obj) {
    obj.style.color = "#3c4219";
  }
</script>

{% endblock %}
