{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/happy.css' %}">
<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

<div class="header">
  <a link href"../happy">
    <div class="sun"><i class="fa fa-sun-o fa-5x" style="color: #eb9239;"></i>
      <div class="happy"><h1>games</h1></div>
    </div>
  </a>
</div>


<p> text n stuff </p>


{% endblock %}
