{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/happy.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

  <ul>
    <li><a href="../">home</a></li>
    <li><a href="../contact_us">contact us</a></li>
    <li><a href="../about">about</a></li>
  </ul>

  <div class="header">
    <div class="sun"><a href="/happy"><i class="fa fa-sun-o fa-5x" style="color: #eb9239;"></i></a>
      <div class="happy"><h1>happy</h1></div>
    </div>
  </div>



  <div class=categoryone><a link href="/games">games</a></div>
  <div class=categorytwo><a link href="/visuals">visuals</a></div>
  <div class=categorythree><a link href="/animals">animals</a></div>
  <div class=categoryfour><a link href="/affirmations">affirmations</a></div>
  <div class=categoryfive><a link href="/spaces">spaces</a></div>

{% endblock %}
