{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

  <link rel="stylesheet" href="{% static 'css/help.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

  <div class="title">
    <div class="point">
      <i class="fa fa-exclamation fa-5x"></i>
    </div>
  <div class="notice">
      <h1>currently under construction</h1>
    </div>
  </div>
  <div>
    <a link href="homepage.html">
      <i class="fa fa-angle-double-left fa-5x"></i>
    </a>
  </div>

{% endblock %}
