{% extends 'blog/base.html' %}

{% load staticfiles %}
{% block content %}

  <link rel="stylesheet" href="{% static 'css/help.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">



  <div class="header">
    <div class="point"><a href="/help"><i class="fa fa-exclamation fa-5x" style="color: #FF926A;"></i></a>
      <div class="help"><h1>help</h1></div>
    </div>
  </div>


  <ul>
    <li><a href="../">home</a></li>
    <li><a href="../contact_us">contact us</a></li>
    <li><a href="../about">about</a></li>
  </ul>

  <div class=categoryone><a link href="/hotline">hotline</a></div>
  <div class=categorytwo><a link href="/self_help">self help</a></div>
  <div class=categorythree><a link href="/therapy">therapy</a></div>
  <div class=categoryfour><a link href="/chat">chat</a></div>


{% endblock %}
