

{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if resource.published_date %}
            <div class="date">
                {{ resource.published_date }}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'resource_edit' pk=resource.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}

        <h1>{{ resource.title }}</h1>
        <p>{{ resource.description|linebreaksbr }}</p>
    </div>
{% endblock %}
