

{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if resource.published_date %}
            <div class="date">
                {{ resource.published_date }}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
          <a class="btn btn-default" href="{% url 'resource_edit' pk=resource.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}

        <h1>{{ resource.title }}</h1>
        <p>{{ resource.description|linebreaksbr }}</p>
        <!-- <p>issue: {{ resource.issue }}</p>
        <p>wheelchair accessible: {{ resource.wheelchair_accessible }}</p>
        <p>money: {{ resource.money }}</p>
        <p>parental consent: {{ resource.parentalconsent }}</p>
        <p>min age: {{ resource.min_age }}</p>
        <p>max age: {{ resource.max_age }}</p>
        <p>transportation: {{ resource.transportation }}</p>
        <p>contact: {{ resource.contact }}</p>
        <p>insurance: {{ resource.insurance }}</p>
        <p>hotline: {{ resource.hotline }}</p>
        <p>self health: {{ resource.self_health }}</p>
        <p>therapy: {{ resource.therapy }}</p> -->
    </div>
{% endblock %}
