body {
  color: #3c4219;
  font-family: "Contrail One", "Droid Sans", "Helvetica";
  font-size: 36px;
  background-color: #fffff0;
}

div.username {
  text-align: center;
  padding-top: 0;
}

a:link {
  color: #3c4219;
  text-decoration: none;
}

a:hover {
  color: #3c4219;
  text-decoration: none;
}

div.backhome {
  height: 100%;
  padding-top: 0;
}
