div.header {
  width: 250px;
  height: 100px;
  margin: auto;
  position: relative;
  margin-left: 5px;

}

body {
  background-color: #fbefd8;
}

/*div.su {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: auto;
}*/

div.happy {
  width: 50%;
  height: 100%;
  display:inline-block;
  /*float: right;*/
  margin: auto;
  color: #eb9239;
  font-size: 20px;
  font-family: "Contrail One", "Droid Sans", Helvetica;
}

/*div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}*/

div.categoryone {
  width: 100%;
  background-color: #e9a626;
  margin-top: 30px;
  padding: 25px;
  font-family: "Droid Sans", "Helvetica";
  color: #fbefd8;
  font-size: 22px;
  border-radius: 25px;
}

div.categorytwo {
  width: 100%;
  background-color: #ebad38;
  margin-top: 10px;
  padding: 25px;
  font-family: "Droid Sans", "Helvetica";
  color: #fbefd8;
  font-size: 22px;
  border-radius: 25px;
}

div.categorythree {
  width: 100%;
  background-color: #edb44a;
  margin-top: 10px;
  padding: 25px;
  font-family: "Droid Sans", "Helvetica";
  color: #fbefd8;
  font-size: 22px;
  border-radius: 25px;
}

div.categoryfour {
  width: 100%;
  background-color: #efbc5c;
  margin-top: 10px;
  padding: 25px;
  font-family: "Droid Sans", "Helvetica";
  color: #fbefd8;
  font-size: 22px;
  border-radius: 25px;
}

div.categoryfive {
  width: 100%;
  background-color: #f0c36d;
  margin-top: 10px;
  padding: 25px;
  font-family: "Droid Sans", "Helvetica";
  color: #fbefd8;
  font-size: 22px;
  border-radius: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fbefd8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Droid Sans", "Helvetica", sans-serif;
    margin-left: 10px;
    /*margin-right: 10px;*/
    background-color: #e9a626;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

li a:hover:not(.active) {
    background-color: #efbc5c;
}

.active {
    background-color: #efbc5c;
}
