body {
  background-color: #FFEFEA;
}

h1 {
  font-family: "Contrail One", "Droid Sans", "Helvetica";
  color: #FF926A;
  font-size: 50px;
  display: inline-block;
  margin: auto;
}

div.title {
  margin-top: 0;
  margin-left: 20%;
  height: 300px;
  width: 300px;
}

i {
  color: #FF926A;
  margin: auto;
}

div.notice {
  display: inline-block;
  width:50px;
  padding-top: 0;
}

div.point {
  display: inline-block;
  height: 100%;
  width: 20px;
  padding: 50px;
  vertical-align: middle;
}
