body {
  background-color: #FFEFEA;
}

h1 {
  font-family: "Contrail One", "Droid Sans", "Helvetica";
  color: #FF926A;
  font-size: 50px;
  display: inline-block;
  margin: auto;
}

div.title {
  margin-top: 0;
  margin-left: 20%;
  height: 300px;
  width: 300px;
}

i {
  color: #FF926A;
  margin: auto;
}

div.notice {
  display: inline-block;
  width:50px;
  padding-top: 0;
}

div.point {
  display: inline-block;
  height: 100%;
  width: 20px;
  padding: 50px;
  vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFEFEA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Droid Sans", "Helvetica", sans-serif;
    margin-left: 10px;
    background-color: #FF926A;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

li a:hover:not(.active) {
    background-color: #FF926A;
}

.active {
    background-color: #EBBE3A;
}
